<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ListarCapacitacion</display-name>
    <servlet-name>ListarCapacitacion</servlet-name>
    <servlet-class>cl.grupo1.servlet.ListarCapacitacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarCapacitacion</servlet-name>
    <url-pattern>/ListarCapacitacion</url-pattern>
  </servlet-mapping>
  <display-name>modulo5-grupal2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>cl.grupo1.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Usuario</display-name>
    <servlet-name>Usuario</servlet-name>
    <servlet-class>cl.grupo1.servlet.Usuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Usuario</servlet-name>
    <url-pattern>/Usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>cl.grupo1.servlet.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Usuario</display-name>
    <servlet-name>Login_Usuario</servlet-name>
    <servlet-class>Login_Usuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Usuario</servlet-name>
    <url-pattern>/Login_Usuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CerrarSesion</display-name>
    <servlet-name>CerrarSesion</servlet-name>
    <servlet-class>cl.grupo1.servlet.CerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CerrarSesion</servlet-name>
    <url-pattern>/CerrarSesion</url-pattern>
  </servlet-mapping>
</web-app>